body {
  font-family: 'Poiret One', cursive;
  background-color: #f2f2f2;
}

h1 {
  color: black;
  font-size: 3.5em;
  text-align: center;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
}

.icon {
  padding: 18px;
  margin-bottom: 10px;
  opacity: 0.4;
  color: black !important;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.icon:hover {
  opacity: 1;
}

.middle {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
	color: black;
    font-size: 2em;
    font-weight: 100;
}

.text-vertical-center h2 {
    margin: 0px;
    padding: 0;
	color: black;
    font-size: 3em;
    font-weight: 100;
}


a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(10, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  font-size: 2em;
}
.popup .close {
  position: absolute;
  top: 0px;
  right: 20px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
}
.popup .close:hover {
  color: red;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  font-size: 1.3em;
  color: black;
}
.popup .content:hover {

}
