<!DOCTYPE html>
<html>
<head>
<title>Alex Wen</title>
<link rel="stylesheet" href="normalize.css" />
<link rel="shortcut icon" href="http://www.alexanderwen.me/favicon.ico" />
<style type="text/css">
	body{
		background: #2D2D2D;
	}
	
	.middle-bar{
		width: 720px;
		margin-left: auto;
		margin-right: auto;
		background-color: #E4E4E4;
	}
	
	.menu-bar{
		padding: 0px 16px 16px 16px;
		width: 100%;
		background-color: #393939;
	}
	
	.menu{
		border-top: 1px solid #4C4C4C;
		border-bottom: 1px solid #4C4C4C;
		border-collapse: collapse;
		width: 100%;
		padding: 8px 0px 8px 0px;
		border: 0px;
	}
	
	.button{
		border-top: 1px solid #4C4C4C;
		border-bottom: 1px solid #4C4C4C;
		border-collapse: collapse;
		
		width: 100%;
		font-size: 20px;
		color: #E4E4E4;
		margin: 0px;
		padding: 8px;
		text-decoration: none;
	}
	
	.button:hover{
		background-color: #4C4C4C;
	}
	
	p.title{
		font-size: 45px;
		color: #000;
		margin: 40px 0px 0px 80px;
		padding: 0px;
	}
	p.subtitle{
		font-size: 22.4px;
		color: #000;
		margin: 0px 0px 40px 80px;
		padding: 0px;
		vertical-align: text-top;
	}
	
	p#title{
		font-size: 23px;
		padding: 15px 15px 15px 15px;
		margin: 0px;
	}
	p#body{
		padding: 0px 15px 15px 15px;
		margin: 0px;
	}
	
	#pic{
		border: 3px solid #E4E4E4;
		border-radius: 138px;
		background:url(http://i.imgur.com/uxrF45j.jpg) no-repeat;
		background-size: 125px 125px;
		width: 125px;
		height: 125px;
		border-radius: 50%;
		margin: auto;
	}
</style>

</head>
<body>
<table class="middle-bar">
		<tr>
			<td style="vertical-align: text-top;">
				<p class="title">
					Alexander Wen
				</p>
				<p class="subtitle">
					Computer Engineer (Term 1A)</br>
					University of Waterloo
				</p>
			</td>
			<td class="menu-bar">
				<div id="pic"></div>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px; vertical-align: top;">
				<p style="margin: 0px"><img src = "http://i.imgur.com/CrsoJbL.gif" width="540" style="padding: 0px"/></p>
				{{ body }}
			</td>
			<td class="menu-bar" style="vertical-align: top;">
				<table>
					{{ menu }}
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
